@media (max-width: 1140px) {
    .main-container {
        grid-template-columns: auto auto;
    }
}
@media (max-width: 900px) {
    .main-container {
        grid-template-columns: auto;
    }
}
@media (max-width: 460px) {
    .main-container {
        grid-template-columns: auto;
    }
    .container:hover {
        transform: scale(1);
    }
    .title {
        text-align: center;
    }
}
